body{
    text-align: center;
    font-family:sans-serif;
    text-shadow: 2px 2px 9px rgb(72, 211, 169);
    background-color: rgb(27, 26, 28);
}
.top{
    margin-top: 100px;
}


.img1 {
    border: 2px solid rgb(85, 84, 84);
    margin-top: 10px;
    margin-bottom: 10px;
}

.detection{
	color: white;
	margin-top: 2%;
	margin-left:35%;
	width: 30%;
	display: flex;
	justify-content: space-between;
    text-shadow: 2px 2px 9px rgb(45, 102, 55);
}

.sidebar {
    position: fixed;
    left: -180px;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: rgb(76, 78, 78);
    color: red;
    padding: 20px;
    transition: left 0.3s;
    z-index: 1;
}
.sidebar:hover {
    left: 0;
}

.sidebar a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: sans-serif;
    margin-inline: 10px;
}
.sidebar a:hover {
    background-color: rgb(19, 19, 18);
    border-radius: 5px;
}
